@import "ConfigEditor.less";
@import "AutoComplete.less";

@icon-font-path: "./fonts/";

@auto-complete-width: 100%;
@auto-complete-list-bg: #fff;
@auto-complete-list-hover-bg: @gray-lighter;
@auto-complete-color: @gray-dark;
@auto-complete-hover-color: @brand-primary;
